
{% load static %}
{% static "images" as baseUrl %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <title>Explore with us</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">

	<link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css" />
    <style>
        .carousel-item {
            height: 80vh;
            background: #777;
            color: white;
            position: relative;
            background-position: center;
            background-size: cover;
        }

        .container {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding-bottom: 50px;
        }

        .overlay-image {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            background-position: center;
            background-size: cover;
            opacity: 0.5;
        }

        #parent {
            font-size: 14px;
            line-height: 1.5;
        }

        #parent p.collapse:not(.show) {
            height: 42px !important;
            overflow: hidden;

            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        #parent p {
            min-height: 42px !important;
        }

        #parent a.collapsed:after {
            content: 'Read More';
        }

        #parent a:not(.collapsed):after {
            content: 'Read Less';
        }
    </style>
</head>

<body>
    <div>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
            <a class="navbar-brand" href="#">Explore With Us</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#destinaiton">Destinatinos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#subscribe">Subscribe</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to='0' class="active"></li>
            <li data-target="#myCarousel" data-slide-to='1'></li>
            <li data-target="#myCarousel" data-slide-to='2'></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval='5000'>
                <div class="overlay-image" style="background-image: url({%  static 'images/home_slider1.jpg' %});"></div>
                <div class="container">
                    <h1 class="font-weight-bold display-2" >Explore With Us</h1>
                    <p class="display-4">Your personal destination picker!</p>
                </div>
            </div>
            <div class="carousel-item" data-interval='3000'>
                <div class="overlay-image" style="background-image: url({%  static 'images/home_slider2.jpg' %});"></div>
                <div class="container">
                    <h1 class="font-weight-bold display-2">Explore With Us</h1>
                    <p class="display-4">Your personal destination picker!</p>
                </div>
            </div>
            <div class="carousel-item" data-interval='3000'>
                <div class="overlay-image" style="background-image: url({% static 'images/home_slider0.jpg' %} );"></div>
                <div class="container">
                    <h1 class="font-weight-bold display-2">Explore With Us</h1>
                    <p class="display-4">Your personal destination picker!</p>
                </div>
            </div>
        </div>
    </div>



    <div class="container-fluid outside m-0" id="destinaiton">
        <div class="container inside position-relative">
            <div class="destination text-center">
                <div class="lead">simply amazing places</div>
                <h2>Destinations</h2>
                <form id="form" method="post" action="/dests/" class="form-inline my-2 my-lg-0">
				    {% csrf_token %}
                    <div class="col text-center">
				        <div id="autocomplete" class="autocomplete">
				            <input id="autocomplete_in" class="autocomplete form-control mr-sm-2" type="text" name="dest_name" placeholder="Search Destination"
					aria-label="Search">
				            <ul class="autocomplete-result-list"></ul>
			            </div>
				    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="myFunction()">Search</button>
                    </div>
		        </form>
            </div>


            <div class="row row-cols-md-2 row-cols-lg-3">
                {% for dest in destinations %}
                <div class="col">

                    <div class="card" style="width: 18rem;">
                        <img src="{{ dest.image.url }}" class="card-img-top" alt="...">

                        {% if dest.offer %}
                        <div class="spec_offer text-center"><a href="#">Special Offer</a></div>
                        {% endif %}

                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">{{ dest.name }}</h5>
                            <div id="parent">
                                <p class="collapse card-text comment more" id="collapseParent">{{ dest.desc }}</p>
                                <a class="collapsed" data-toggle="collapse" href="#collapseParent" aria-expanded="false"
                                    aria-controls="collapseParent"></a>
                            </div>
                            <h5 class="card-title">${{ dest.price_from }} - ${{ dest.price_to }}</h5>
                        </div>
                    </div>

                </div>

                {%  endfor %}
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <!-- Footer -->
    <footer class="page-footer font-small blue" id="subscribe">
        <div class="text-center ">
            <h3>Subscribe to our Newslater</h3>
            <form action="subscribe" method="post" class="form-inline my-2 my-lg-0">
                {% csrf_token %}
                <div class="col text-center">
                    <input class="form-control mr-sm-2" name="name" type="name" placeholder="Name" aria-label="Search">
                    <input class="form-control mr-sm-2" name="email" type="email" placeholder="Email" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
                </div>
            </form>
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2020 Copyright:
                <a href="#"> Explore-with-us</a>
            </div>
            <!-- Copyright -->
        </div>
    </footer>
    <!-- Footer -->



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>

	<script>
        let input = document.querySelector('#autocomplete_in');
        document.querySelector('#form').addEventListener('submit', function(e) {
            if (input.value === '') {
                this.setAttribute('action', "/dests/_");
            } else {
                this.setAttribute('action', "/dests/" + `${document.querySelector('input[name=dest_name]').value}`);
            }
        });
    </script>
	<script>
		new Autocomplete('#autocomplete', {
			search: input => {
				console.log(input)
				const url = `/search/?address=${input}`
				return new Promise(resolve => {
					fetch(url)
						.then(response => response.json())
						.then(data => {
							resolve(data.data)
						})
				})
			},
			onSubmit: result => {
				window.open(`/dests/${result}`)
			}
		})
	</script>



</html>