
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Oswald:400,500,600,700');


* {
    margin: 0px;
    padding: 0px;
}
.conatainer{
    position: relative;
}

.destination{
    text-align: center;
    margin-top: 35px;
}

.spec_offer
{
	position: absolute;
	top: 15px;
	left: 16px;
	width: 118px;
	height: 36px;
	background: #181818;

}
.spec_offer a
{
	display: block;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 36px;
	font-weight: 400;
    text-decoration: none;
}

.row {
    /* border: green solid 2px; */
    padding: 50px 0px;
}

.col {
    /* border: black solid 2px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}

.seemore {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.seemore button {
    padding: 5px 25px;
}

footer{
    padding-top: 20px;
    background-color: rgba(0, 255, 255, 0.342);
}